[Unit]
Description=GO Shortener - Minimal High-Performance URL Shortener
After=network.target

[Service]
Type=simple
User=root
WorkingDirectory=/root/Go-shortner
ExecStart=/root/Go-shortner/go-shortener
Restart=always
RestartSec=3
LimitNOFILE=65535

# Security Hardening
PrivateTmp=true

[Install]
WantedBy=multi-user.target
